# Ignore node_modules (if you use Node.js)
node_modules/

# Ignore build files and temporary files
.DS_Store
*.log
*.tmp
*.code-workspace

# Ignore sensitive files
.env
config.js

# Ignore browser caches
*.swp